<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHubPackages" value="https://nuget.pkg.github.com/elielijah321/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHubPackages>
      <add key="Username" value="elielijah321" />
      <add key="ClearTextPassword" value="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" />
    </GitHubPackages>
  </packageSourceCredentials>
</configuration>
