/* src/styles.css */

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .overlay.open {
    display: block;
  }
  
  .menu {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: -250px;
    background: #fff;
    transition: left 0.3s ease;
    z-index: 20;
  }
  
  .menu.open {
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }

  .burger-menu {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    float: right;
    margin-right: 20px;
    z-index: 1000 !important;
  }
  
  .burger-menu-icon {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease; /* Added transition property */
  }
  
  .bar1, .bar2, .bar3 {
    width: 100%;
    height: 3px;
    background-color: black;
  }
  
  /* Rotate bars for the open icon */
  .burger-menu-icon.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .burger-menu-icon.open .bar2 {
    opacity: 0;
  }
  
  .burger-menu-icon.open .bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
  
  .menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 30;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  
  /* Navigation Bar */
  .navigation-ul{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sticky-bottom {
    /* background: #e3e9ef; */
    color: white;
    text-align: center;
    padding: 10px;
    width: 92%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .list {
    width: 100%;

    display: flex;
    align-items: center;
  }

  .list > .text {
    text-decoration: none;
  }

  .list.active {
    /* background-color: rgb(36, 150, 80); */
    background-color: #C8B5A6 !important;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .link{
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
  }

  .link.active{
    color: white;
  }

  .icon{
    height: 40px;
    /* padding-right: 20px; */
    padding-bottom: 10px;

    padding-top: 3px;
    padding-left: 5px;
  }

  .text{
    width: 80%;
    flex: 1; /* Takes up the remaining space */
    text-align: center; /* Centers text within the remaining space */
  }

  .title{
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
