.page{
    margin-top: 100px;
}
.title{
    text-align: center;
    color: black;
}

.add-new-entity-btn{
    padding-top: 15px;
    padding-right: 15px;
    float: right !important;
}

.search-input{
    padding-top: 15px;
    padding-right: 15px;
    float: left !important;
}

.entity-button-container{
    padding-bottom: 95px;
}

.toast-success {
    background-color: rgb(88, 176, 88) !important;
}

.toast-error {
    background-color: rgb(222, 103, 103) !important;
}

.toast-header > .btn-close{
    display: none;
}

.toast-header > .mr-auto{
    margin-left: auto;
    margin-right: auto;
}

.toast {
    margin-left: auto;
    margin-right: auto;
}

.edit-form-submit{
    margin-right: 10px;
}

.edit-defendant-action-btns{
    float: right;
    margin-left: 10px;
}

.loading-container{
    justify-content: center !important;
    display: flex;
    padding-top: 200px;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    position: relative;
  }
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
  }
  .loader::before {
    box-shadow: -25px 0;
    animation: l8-1 1s infinite linear;
  }
  .loader::after {
    transform: rotate(0deg) translateX(25px);
    animation: l8-2 1s infinite linear;
  }

  .appointment-btn{
    margin-top: 10px !important;
    margin-right: 20px !important;
  }

  .appointment-occupied-btn{
    margin-top: 10px !important;
    margin-right: 20px !important;
    border: 0 !important;
    width: 100px;
  }

  .btn-group-top-right {
    float: right;
    margin-bottom: 50px;
    /* margin-right: 20px;
    margin-top: 25px; */
  }

  .float-right{
    float: right;
  }

  .float-left{
    float: left;
  }


  .case-document-actions-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


  .view-document-link{
    text-decoration: none;
    color: #FFF !important;
  }

  .recipe-information-info{
    width: 50% !important;
    float: right;
    margin-bottom: 50px !important;
  }

  .accordion-button {
    background-color: #C8B5A6 !important;
    color: #000;
  }

  .accordion-button:not(.collapsed) {

    color: #000 !important;
  }

  .accordion-button::after {

    background-image: none !important;

  } 

  .order-table {
    --bs-table-bg: #cdd2cb !important; 
    --bs-table-border-color: #cdd2cb !important; 
    border-color: #cdd2cb !important;
  }

  .order-header > .accordion-header > .accordion-button {
    padding: 0;
    background-color: #cdd2cb !important;
    /* background-color: #EDE7D9 !important; */
    /* background-color: #869a96 !important; */
    
    margin-bottom: 20px;
    border: #000 2px solid !important;

    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(43 165 32 / 79%);
  }

  .order-header > .accordion-header > .form-check-input {
    z-index: 1;
  }

  .order-header > .accordion-header > .accordion-button::after {
    display: none;
  }

  .order-header-btn  {
    width: 100% !important;
    text-align: center;
  }

  .order-confirm-btn{
    z-index: 1 "important";

    color: #FFF !important;
    /* background-color: #48922a !important; */
    /* border-color:  !important; */
    border: 2px solid #000 !important;


    background-color: #2a6612 !important;

  }

  .form-check-input:checked{
    background-color: #C8B5A6 !important;
    border-color: #C8B5A6 !important;
  }

  .nav-link {
    background-color: #C8B5A6 !important;
    color: #000 !important;
  }

  .nav-link:not(.active) {
    background-color: #FFF !important;
    color: #000 !important;
  }


  .page-btn {
    background-color: #b29177 !important;
    /* border-color: #000 !important; */

    border: 1.5px solid #000 !important;

  }


  .page-btn:hover {
    background-color: #e5d5b4 !important;
    /* border-color: #000 !important; */

    /* border: 1.5px solid #000 !important; */

  }

  .page-delete-btn{
    border: 1.5px solid #000 !important;

  }


  .edit-action-btns{
    /* fle */
    /* flex: auto;
    justify-content: space-between !important; */

    /* float: right !important; */
  }


  .form-component{
    margin-top: 50px !important;
  }