.page{
    margin-top: 100px;
}
.title{
    text-align: center;
    color: black;
}

.add-new-entity-btn{
    padding-top: 15px;
    padding-right: 15px;
    float: right !important;
}

.search-input{
    padding-top: 15px;
    padding-right: 15px;
    float: left !important;
}

.entity-button-container{
    padding-bottom: 95px;
}

.toast-success {
    background-color: rgb(88, 176, 88) !important;
}

.toast-error {
    background-color: rgb(222, 103, 103) !important;
}

.toast-header > .btn-close{
    display: none;
}

.toast-header > .mr-auto{
    margin-left: auto;
    margin-right: auto;
}

.toast {
    margin-left: auto;
    margin-right: auto;
}

.edit-form-submit{
    margin-right: 10px;
}

.edit-defendant-action-btns{
    float: right;
    margin-left: 10px;
}

.loading-container{
    justify-content: center !important;
    display: flex;
    padding-top: 200px;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    position: relative;
  }
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
  }
  .loader::before {
    box-shadow: -25px 0;
    animation: l8-1 1s infinite linear;
  }
  .loader::after {
    transform: rotate(0deg) translateX(25px);
    animation: l8-2 1s infinite linear;
  }

  .appointment-btn{
    margin-top: 10px !important;
    margin-right: 20px !important;
  }

  .appointment-occupied-btn{
    margin-top: 10px !important;
    margin-right: 20px !important;
    border: 0 !important;
    width: 100px;
  }